.App {
  background-color: #1c1e1f;
  height: 695px;
  width: auto;
  color: white;
}

.Sign-In {
  border-radius: 10px;
  padding: 30px;
  height: 120px;
  width: 180px;
  background-color: #34b0ba;
  color: white;
  position: absolute;
  margin-top: 330px;
  margin-left: 260px;
}

.Sign-In Button {
  padding: 20px;
  margin-left: 40px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Notifications {
  position: absolute;
  top: 410px;
  left: 40px;
  width: 200px;
}
.NotificationsTitle {
  font-size: 20px;  
  position: absolute;
  top: -30px;
  left: 30px;
}
.updates {
  font-size: 16px;
  padding-top: 10px;

}